<section class="content">
    <div class="container-fluid">
        <div class="row justify-content-md-center">
            <div class="login-box" style="margin: 15% auto 0;">
                <div class="login-logo">
                    <b>Suivid19</b>
                </div>
                <!-- /.login-logo -->
                <div class="card form-card">
                    <div class="card-body login-card-body">
                        <form [formGroup]="form" (ngSubmit)="login()">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <span class="fas fa-envelope"></span>
                                    </div>
                                </div>
                                <input type="email" class="form-control" placeholder="Email" name="email"
                                    formControlName="email">
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <span class="fas fa-lock"></span>
                                    </div>
                                </div>
                                <input name="password" formControlName="password" type="password" class="form-control"
                                    placeholder="Mot de passe">
                            </div>

                            <div *ngIf="route.snapshot.queryParams['error']" class="alert alert-danger" role="alert">
                                <i class="fas fa-exclamation-triangle mr-2"></i> Email ou mot de passe incorrect !
                            </div>

                            <div class="row mt-4">
                                <div class="col-2 col-sm-3">
                                    <!--div class="icheck-primary">
                                        <input type="checkbox" id="remember">
                                        <label for="remember">
                                            Remember Me
                                        </label>
                                    </div-->
                                </div>
                                <!-- /.col -->
                                <div class="col-8 col-sm-6">
                                    <button type="submit" class="btn btn-dark btn-block">Se connecter</button>
                                </div>
                                <!-- /.col -->
                            </div>
                        </form>
                    </div>
                    <!-- /.login-card-body -->
                </div>
            </div>
        </div>
    </div>
</section>